@using SPG_Fachtheorie.Aufgabe2.Model
@using SPG_Fachtheorie.Aufgabe2.MyDto
@model List<CustomerToDisplayDto>

<div>
    <h1>List</h1>
</div>

<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Number of Stickers</th>
                <th>Number of Vehicles</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.NumberOfStickers</td>
                    <td>@item.NumberOfVehicles</td>
                    <td>
                        <a asp-controller="Stickers" asp-action="Index" asp-route-customerGuid="@item.Guid">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>





@* @using SPG_Fachtheorie.Aufgabe2.Model *@
@* @using SPG_Fachtheorie.Aufgabe2.MyDto *@
@* @model List<CustomerToDisplayDto> *@

@* 	<div> *@
@* 		<h1>List</h1> *@
@* 	</div> *@

@* <div> *@
@* 	<table> *@
@* 		<thead> *@
@* 			<tr> *@
@* 				<th>First Name</th> *@
@* 				<th>Last Name</th> *@
@* 				<th>Number of stickers</th> *@
@* 				<th>Number of vehicles</th> *@
@* 			</tr> *@
@* 		</thead> *@
@* 		<tbody> *@
@* 			@foreach (var item in Model) *@
@* 			{ *@
@* 				<tr> *@
@* 					<td>@item.FirstName</td> *@
@* 					<td>@item.LastName</td> *@
@* 					<td>@item.NumberOfStickers</td> *@
@* 					<td>@item.NumberOfVehicles</td> *@
@* 				</tr> *@
@* 			} *@
@* 		</tbody> *@
@* 	</table> *@
@* </div> *@

@* <div> *@
@* 	<table> *@
@* 		<thead> *@
@* 			<tr> *@
@* 				<th>First Name</th> *@
@* 				<th>Last Name</th> *@
@* 				<th>Number of stickers</th> *@
@* 				<th>Number of vehicles</th> *@
@* 			</tr> *@
@* 		</thead> *@
@* 		<tbody> *@
@* 			@foreach (var item in Model) *@
@* 		{ *@
@* 			<tr> *@
@* 				<td>@item.Firstname</td> *@
@* 				<td>@item.Lastname</td> *@
@* 				<td>@item.Stickers.Count</td> *@
@* 				<td>@item.Vehicles.Count</td> *@
@* 			</tr> *@
@* 		} *@
@* 		</tbody> *@
@* 	</table> *@
@* </div> *@

@* @using SPG_Fachtheorie.Aufgabe2.Dtos
@model List<CustomerDto>


<div>
	<h1>Liste der Kunden</h1>
</div>

<table class="table table-border">
	<thead class="table table-hover">
		<tr>
			<th>Nachname</th>
			<th>Vorname</th>
			<th>Gekaufte Vignetten</th>
			<th>Registrierte Fahzeuge</th>
			<th>Aktionen</th>
		</tr>
	</thead>

	<tbody>
		@foreach (CustomerDto c in Model)
		{
			<tr>
				<td>@c.Firstname</td>
				<td>@c.Lastname</td>
				<td>@c.Stickers.Count</td>
				<td>@c.Vehicles.Count</td>
				<td>
					<a asp-controller="Stickers" asp-action="Add" asp-route-customerGuid="@c.Guid">[Vignette Kaufen]</a>

					@if (c.Stickers.Count > 0)
					{
						<a asp-controller="Stickers" asp-action="Index" asp-route-customerGuid="@c.Guid">[Gekaufte Vignette anzeigem]</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table> *@